#home {
    margin: 20px;
    background-color: #E3D8BC;
    background-image: url(../images/bg.png);
    background-position: bottom right, top;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
    color: #444;
}

#about {
    margin: 20px;
    background-color: #FFF0D3;
    background-image: url(../images/shine.jpg);
    background-position: bottom right, top;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
    color: #444;
}

#tweets {
    margin: 20px;
    background-color: #5A7BA6;
    background-image: url(../images/stich.jpg);
    background-position: bottom right, top;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
    color: #444;
}

#diaries {
    margin: 20px;
    background-color: white;
    background-image: url(../images/meow.jpg);
    background-position: bottom left, top;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
    color: #444;
}

#learnjourney {
     margin: 20px;
     background-color: #E4E0D5;
     background-image: url(../images/InkCat.jpg);
     background-size: contain;
     background-position: bottom left, top;
     background-repeat: no-repeat;
     background-attachment: fixed, scroll;
     color: #444;
 }

#guestbook-color {
     margin: 20px;
     background-image: url(../images/Alice.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-attachment: fixed, scroll;
     color: #444;
 }